{% extends 'base.html.twig' %}

{% block title %}Réserver le trajet{{ parent() }}{% endblock %}

{% block body %}
    <body class="reservation">
        <header>
            <a href="{{ path('app_accueil') }}" class="logotype"><img src="{{ asset('images/logotype-noir.svg') }}" alt="Logotype Agence Dewey"></a>
            
            <nav>
                <ul>
                    <li><a href="{{ path('app_accueil') }}#creer-un-trajet">Créer un trajet</a></li>
                    <li><a href="{{ path('app_accueil') }}#voir-les-trajets-disponibles">Voir les trajets disponibles</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="profil"><a href="{{ path('app_profil') }}"><img src="{{ asset('images/profil.svg') }}" alt="Icône profil"></a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <h1>Réserver le trajet</h1>

            <a href="{{ path('app_accueil') }}#voir-les-trajets-disponibles" class="annuler">Annuler la réservation</a>

            <div class="trajet">
                <div class="icone">
                    <img src="{{ asset('images/parcours.svg') }}" alt="Icône d'un parcours">

                    <div>
                        <p>{{ trajet.pointDeDepart }}</p>
                        <p>{{ trajet.destination }}</p>
                    </div>
                </div>

                <div class="icone">
                    <img src="{{ asset('images/volant.svg') }}" alt="Icône d'un utilisateur">

                    <p>{{ trajet.utilisateur.prenom }} {{ trajet.utilisateur.nomDeFamille }}</p>
                </div>

                <div class="icone">
                    <img src="{{ asset('images/date-et-heure.svg') }}" alt="Icône d'un calendrier">

                    <p>{{ trajet.dateEtHeure|date('d/m/Y H:i') }}</p>
                </div>

                <div class="icone">
                    <img src="{{ asset('images/sieges-libres.svg') }}" alt="Icône d'un passager">

                    {% if trajet.siegesLibres > 1 %}
                        <p>Il reste encore {{ trajet.siegesLibres }} places</p>
                    {% elseif trajet.siegesLibres == 1 %}
                        <p>Il reste encore {{ trajet.siegesLibres }} place</p>
                    {% else %}
                        <p>Complet</p>
                    {% endif %}
                </div>

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    
                    <div class="form-actions">
                        <button type="submit" class="white">Réserver</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </main>
    </body>
{% endblock %}
