{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{{ parent() }}{% endblock %}

{% block body %}
    <body class="profil">
        <header>
            <div class="desktop">
                <a href="{{ path('app_accueil') }}" class="logotype"><img src="{{ asset('images/logotype-noir.svg') }}" alt="Logotype Agence Dewey"></a>
                
                <nav>
                    <ul>
                        <li><a href="{{ path('app_accueil') }}#creer-un-trajet">Créer un trajet</a></li>
                        <li><a href="{{ path('app_accueil') }}#voir-les-trajets-disponibles">Voir les trajets disponibles</a></li>

                        {% if is_granted('ROLE_USER') %}
                            <li class="profil"><a href="{{ path('app_profil') }}"><img src="{{ asset('images/profil.svg') }}" alt="Icône profil"></a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <div class="mobile">
                <a href="{{ path('app_accueil') }}" class="logotype"><img src="{{ asset('images/logotype-noir.svg') }}" alt="Logotype Agence Dewey"></a>

                <div class="burger">
                    <img src="{{ asset('images/burger.svg') }}" alt="Menu burger">
                </div>

                <div class="croix">
                    <img src="{{ asset('images/croix.svg') }}" alt="Croix">
                </div>

                <nav>
                    <ul>
                        <li><a href="{{ path('app_accueil') }}#creer-un-trajet">Créer un trajet</a></li>
                        <li><a href="{{ path('app_accueil') }}#voir-les-trajets-disponibles">Voir les trajets disponibles</a></li>

                        {% if is_granted('ROLE_USER') %}
                            <li class="profil"><a href="{{ path('app_profil') }}"><img src="{{ asset('images/profil.svg') }}" alt="Icône profil"></a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <h1>Modifier mes informations</h1>

            <a href="{{ path('app_profil') }}" class="annuler">Annuler la modification</a>

            <div class="conteneur">
                <section class="navigation">
                    <nav>
                        <ul>
                            <li><a href="{{ path('app_profil') }}">Mes informations</a></li>
                            <li><a href="{{ path('app_profil_trajets') }}">Mes trajets</a></li>
                            <li><a href="{{ path('app_profil_reservations') }}">Mes réservations</a></li>
                            <li><a href="{{ path('app_logout') }}" class="deconnexion">Se déconnecter</a></li>
                        </ul>
                    </nav>
                </section>

                <section class="informations">
                    <div class="centre">
                        {{ form_start(profil) }}
                            {{ form_row(profil.email) }}
                            
                            <div class="nom">
                                {{ form_row(profil.prenom) }}
                                {{ form_row(profil.nom_de_famille) }}
                            </div>
                            
                            {{ form_row(profil.telephone) }}
                            {{ form_row(profil.plainPassword) }}

                            <button type="submit">Enregistrer</button>
                        {{ form_end(profil) }}
                    </div>
                </section>
            </div>
        </main>

        <footer>
            <div class="conteneur">
                <div>
                    <img src="{{ asset('images/logotype-noir.svg') }}" alt="Logotype Agence Dewey">
                </div>

                <ul>
                    <li><a href="{{ path('app_accueil') }}#creer-un-trajet">Créer un trajet</a></li>
                    <li><a href="{{ path('app_accueil') }}#voir-les-trajets-disponibles">Voir les trajets disponibles</a></li>

                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('app_profil') }}">Mon profil</a></li>
                    {% else %}
                        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    {% endif %}
                </ul>

                <ul>
                    <li><a href="{{ path('app_mentions_legales') }}">Mentions légales</a></li>
                    <li><a href="{{ path('app_politique_de_confidentialite') }}">Politique de confidentialité</a></li>
                </ul>
            </div>

            <div class="credit">
                <p>Site développé par Irving Cazaban</p>
            </div>
        </footer>
    </body>
{% endblock %}
