{% extends 'base.html.twig' %}

{% block title %}Modifier un trajet{{ parent() }}{% endblock %}

{% block body %}
    <body class="profil">
        <header>
            <a href="{{ path('app_accueil') }}" class="logotype"><img src="{{ asset('images/logotype-noir.svg') }}" alt="Logotype Agence Dewey"></a>
            
            <nav>
                <ul>
                    <li><a href="{{ path('app_accueil') }}#creer-un-trajet">Créer un trajet</a></li>
                    <li><a href="{{ path('app_accueil') }}#voir-les-trajets-disponibles">Voir les trajets disponibles</a></li>
                    <li class="profil"><a href="{{ path('app_profil') }}"><img src="{{ asset('images/profil.svg') }}" alt="Icône profil"></a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1>Modifier un trajet</h1>

            <a href="{{ path('app_profil_reservations') }}" class="annuler">Annuler la modification</a>

            <div class="conteneur">
                <section class="navigation">
                    <nav>
                        <ul>
                            <li><a href="{{ path('app_profil') }}">Mes informations</a></li>
                            <li><a href="{{ path('app_profil_trajets') }}">Mes trajets</a></li>
                            <li><a href="{{ path('app_profil_reservations') }}">Mes réservations</a></li>
                            <li><a href="{{ path('app_logout') }}" class="deconnexion">Se déconnecter</a></li>
                        </ul>
                    </nav>
                </section>

                <section class="informations">
                    <div class="centre largeur">
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                            
                            <button type="submit">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </section>
            </div>
        </main>
    </body>
{% endblock %}